# Operating System Files
.DS_Store
Thumbs.db

# Node.js Specific
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Build and Distribution Files
dist/
build/
out/

# Logs
*.log

# Temporary Files
*.tmp
*.temp
*.bak

# IDE and Editor Files
.idea/
.vscode/

# Test and Coverage Files
coverage/
test-results/

# Documentation and Report Files
*.pdf
*.docx
*.pptx

# Compiled Code
*.class
*.o
*.exe
*.out